<app-usermenu></app-usermenu>
<div class="principal">

    <!-- Detarelhes Receita -->
    <div class="information">

        <!-- Imagem  -->
        <div class="imagem">
            <img src="{{recipe.imagerecipe}}" alt="imagerecipe" width="100%" height="100%">
        </div>

        <div class="detalhes">

            <!-- Nome  -->
            <div class="name">
                <h1>{{recipe.namerecipe | uppercase}}</h1>
                <hr>
            </div>

            <!-- Detalhes  -->
            <div class="details">

                <ul class="informationlist">

                    <li class="linesmall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-tag" viewBox="0 0 16 16">
                            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z" />
                            <path
                                d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z" />
                        </svg>
                        Categoria: {{recipe.categoryname}}
                    </li>

                    <li class="linesmall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-alarm" viewBox="0 0 16 16">
                            <path
                                d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
                            <path
                                d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                        </svg>
                        Duração: {{recipe.durationrecipe}}
                    </li>

                    <li class="linesmall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-clipboard-pulse" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Zm6.979 3.856a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.895-.133L4.232 10H3.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 .416-.223l1.41-2.115 1.195 3.982a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h1.5a.5.5 0 0 0 0-1h-1.128L9.979 5.356Z" />
                        </svg>
                        Dificuldade: {{recipe.namedifficulty}}
                    </li>

                    <li class="linesmall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-award" viewBox="0 0 16 16">
                            <path
                                d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                        </svg>
                        Classicação: {{classification}}/5
                    </li>


                    <div *ngIf="userlogado == true">
                        <li class="favo" *ngIf="existefavorite == false" (click)="addFavorite(recipe.idrecipe)">
                            Favorito
                        </li>

                        <li class="favo" *ngIf="existefavorite == true" (click)="removeFavorite(recipe.idrecipe)">
                            Remover Favorito
                        </li>
                    </div>

                    <li class="favo" *ngIf="permission == '1'">
                        <a routerLink="/editrecipe/{{idrecipe}}" (click)="tipoLocal()">Editar Receita</a>
                    </li>



                </ul>
                <hr>
            </div>

            <!-- Ingredientes -->
            <h1>{{ingredients}}</h1>
            <div class="ingredients" *ngFor="let ingred of ingredientrecipe">

                <ul class="ingredientslist">
                    <li>{{ingred.quantityingredient}} {{ingred.nameunity}} - {{ingred.nameingredient}}</li>
                </ul>

            </div>

        </div>

    </div>

    <!-- Preparação  -->
    <div class="preparation">
        <hr>
        <h1>{{preparation}}</h1>

        <div class="modepreparation">
            <p>{{recipe.preparationrecipe}}</p>
            <p class="linesmall">Publicado: {{recipe.nameuser}} | {{recipe.daterecipe | date}}</p>
        </div>

    </div>

</div>

<!--Comentários-->
<app-comments></app-comments>