<div class="principal">

    <div class="title">

        <h1>{{title | uppercase}}</h1>
        <hr>

    </div>

    <div class="highlights" *ngFor="let highlights of highlights">

        <div class="form">

            <div class="firstimage">
                <a routerLink="/recipedetails/{{highlights.idrecipe}}">
                    <img class="image" src="{{highlights.imagerecipe}}" alt="imagehighlight" width="100%" height="100%">
                </a>
            </div>

            <div class="descricao">
                <h2>{{highlights.namerecipe | uppercase}}</h2>
                <h2 class="seconddescription">CATEGORIA: {{highlights.categoryname | uppercase}}</h2>
            </div>

        </div>

    </div>

    <!-- Ver restantes receitas -->
    <div class="btall">
        <button routerLink="/recipes" type="button" class="btn btn-primary" id="btsearch">VER TODOS</button>
    </div>

</div>